*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0px auto;

}
.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.text-center {
    text-align: center;
}

/* main styles */
header {
    background-color: #FFF8F3;
    background-image: url(../hero-dev-portfolio-resources/images/developer.png), url(../hero-dev-portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 50px;
}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner {
    /* border: 1px solid blue; */
    /* max-width: 1332px; */
    margin: 47px 38px 0px 230px; /* top right bottom left */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content {
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 35px;
    line-height: 1.5;
}
#banner .banner-content > div > button.btn:last-child {
    background-color: #FFF8F3;
    border: #FD6E0A 2px solid;
    color: #FD6E0A;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

/* about section styles */
#about, #skills, #resume {
    padding-top: 130px;
}

#about .about-container {
    max-width: 1140px;
    width: 71%;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
} 
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
#about .about-container p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
#about .about-container .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .about-card h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* skills section styles */
/* #skills {
    padding-top: 130px;
    
} */
.skills-container {
    max-width: 1140px;
    width: 71%;
    margin: 0px auto;
    text-align: center;
}
.skills-container .skill-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 50px;
}
.skill-box .skill-card {
    background-color: #FFFFFF;
    max-width: 267px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
}
.skill-box .skill-card img {
    max-width: 64px;
    margin-bottom: 20px;
}
.skill-box .skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-box .skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
/* resume section styles */
#resume .resume-container {
    max-width: 1140px;
    width: 71%;
    margin: 113px auto 0;
    display: flex;
    text-align: left;
    gap: 24px;
}
.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-container hr{
    margin: 30px 0px;
}
.resume-card {
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
#resume .btn{
    margin-top: 50px;
}
footer {
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0px;
}
footer .footer-container {
    max-width: 1140px;
    width: 71%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    gap: 116px;
}
.footer-container .social {
    max-width: 562px;
}
.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social p {
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}
.footer-container .icons a {
    margin-right: 24px;
}
.footer-container form input[type="text"] , .footer-container textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
